div.login-form {
    padding: 10px;
    width: 400px;
  }
  label.label-form {
    display: block;
  }
  .input-login {
    padding: 5px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  button.button-login {
    padding: 10px;
    border-radius: 8px;
  }
  